<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <h2>Error 404: We are having trouble responding to your request </h2>















            <%- include('./partials/scripts.ejs') %>
    </body>

</html>