<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <h2>This is my <%= page %> page</h2>















            <%- include('./partials/scripts.ejs') %>
    </body>

</html>