.rent-info-wrapper{
    height: 100%;
    
    padding: 20px;
}
.pricing-rating{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price-amount{
    font-weight: 400;
    font-size: 24px
}
.price-stay{
    font-size: 17px;
}
.price{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.price *{
    margin: 0;
}

.star-svg{
    display: block; 
    height: 12px; 
    width: 12px; 
    fill: currentcolor;
}
.rating{
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .84em;
    
}
.rating *{
    margin: 0;
}

.num-of-reviews{
    color: rgba(107, 107, 107, 0.9);
    text-decoration: underline;
    cursor: pointer;
}

.stay-info{
    border: 1px solid rgba(71, 71, 71, 0.5);
    border-radius: 10px;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}
.top-row{
    display: flex;
    height: 50%;
    border-bottom: 1px solid rgba(71, 71, 71, 0.5);
}
.check-in{
    width: 50%;
    border-right: 1px solid rgba(71, 71, 71, 0.5);
    cursor: pointer;
}
.check-out{
    cursor: pointer;
    width: 50%;
}
.reserve-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-weight: 600;
    height: 50px;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: red;
    background-image: radial-gradient(circle at center, #ff385c 0%, #e61e4d 22.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    cursor: pointer;
}