.filterBar{
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap: minmax(2rem, auto);
    width: 95vw;
    left: 2.5vw;
    right: 2.5vw;
    font-size: 12px; 
    margin-top: .5rem;
    overflow-x: auto;
}
.filterImage{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    text-align: center;
    opacity: .5;
    padding: .5rem;
    cursor: pointer;
}
.filterImage img{
    height: 26px;
    width: 26px;
}
.filterImage:hover{
    opacity: 1;
    border-bottom: 2px solid rgba(172, 171, 171, 0.75);
}
