.heart{
    position: absolute;
    top: 5%;
    right: 15%;
    height: 20px;
    width: 20px;
    z-index: 1;
    cursor: pointer;
}
.listingGrid{ 
    margin: 5rem;
    margin-top: 7.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5vh .75vw;
}
.listingGridItem{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 309px;
    position: relative;
    cursor: pointer;
}
.infoListItem{
    margin: .25rem;
}
.gridImage{
    height: 75%;
    width: 90%;  
    
}
.gridImage img{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.gridImage:hover{
    opacity: .75;
}
.altInfo{
    color:rgb(134, 134, 134)
}





.skeletonGrid{
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 349px;
}
.skeletonGridItem{
    margin: 5%;
    background: linear-gradient(0.25turn, rgb(211, 210, 210), rgb(230, 229, 229));
    height: 5%;
    width: 90%;
    
}
.skeletonGridImage{
    margin: 5%;
    height: 60%;
    width: 90%;
    background: linear-gradient(0.25turn, rgb(204, 204, 204), rgb(230, 229, 229));
}


.buttonWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

a{
    color: black;
    text-decoration: none !important;
}



