@media (min-width: 1950px) {
    .listingGrid{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin: 0 !important;
    }
} /*
@media (max-width: 750px){
    .listingGrid{
        margin: 0;
        margin-top: 7.5rem;
    }
    .listingGridItem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listingGridItem h4{
        width: 75%;
        text-align: left;
    }
    .listingGridItem p{
        width: 75%;
        text-align: left;
    }
    .listingGridItem img{
        width: 75%;
        height: 80%;
    }
    
}
*/