@media (max-width: 1160px) {
    .navbar-brand h4{
        display: none;
    }
}
@media (max-width: 942px) {
    .navbar-brand {
        margin-left: 1vw;
    }
    .navbar-search{
        
    }

}

@media (max-width: 500px) {
    .navbar-brand {
        display: none;
    }
    .navbar-profile{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: center;
    }
    .navbar-search{
        position: static;
        
    }
}