.navAndModalWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(225,225,225, .75);

}
.navbar{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-bottom: .60%;
    padding-top: .60%;
}
.navbar-brand{
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
    margin-left: 5%;
    opacity: 90%;
}
.nav-house{
    height: 30px;
}
.navbar-brand h4{
    margin: 0;
    margin-left: 10px;
    font-size: 1.5em;
    color: #ff385c;
}


.navbar-search{
    border: 1px solid rgba(172, 172, 172, 0.75);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: clamp(300px, 500px, 40vw);
    height: 30px;
    margin: 1%;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .50rem;
}
.navbar-search:hover{
    box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #ff385c;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.search-button{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
    border-right: 1px solid rgba(225,225,225, .75);
}



.navbar-profile{
    width: 65px;
    height: 40px;
    border: 1px solid rgba(225,225,225, .75);
    border-radius: 25px;
    padding: 5px;
    margin: 1%; 
    margin-right: 2%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.profile-menu{
    height: 55%;
    cursor: pointer;
}
.profile-icon{
    height: 55%;
    cursor: pointer
}