<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="auth-wrapper">
                <h2>Login</h2>
                <form class="auth-form" action="/login-form" method="post">
                    <input type="text" class="form-control username" placeholder="Username" aria-label="Username"
                        required name="username" />
                    <input type="password" class="form-control password" placeholder="Password" aria-label="Password"
                        required name="password" />
                    <input type="submit" class="form-control btn btn-primary" value="Submit" aria-label="Submit form" />
                </form>
            </div>














            <%- include('./partials/scripts.ejs') %>
    </body>

</html>