.listing-header{
    margin: 1rem;
    margin-left: calc(12.5% + 1vw);
    margin-right: calc(12.5% + 1vw);
}
.name-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.listing-name{
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px
}

.translate-svg{
    display: block;
    height: 24px;
    width: 24px;
}

.extra-content-row{
    display: flex;
    justify-content: space-between;

}
.extra-content-section-0{
    margin-top: 5px; 
}
.extra-content-section-0 *{
    margin-top: .5rem;
}
.review-count{
    text-decoration: underline;
    cursor: pointer;
}
.review-count:hover{
    text-decoration: none;
}
.bullet::before{
    content: ' • ';
}
.host-name{
    text-decoration: underline !important;
    cursor: pointer;
}
.host-name:hover{
    text-decoration: none !important;
}
.extra-content-section-1{

}
.favorite-wrapper{
    display: flex;
    align-items: center;
    gap: .33rem;
    cursor: pointer;
    padding: 5px;
}
.favorite-wrapper:hover{
    background-color: rgba(230, 230, 230, 0.55);
    border: 0px solid transparent;
    border-radius: 7.5px;
}
.favorite-svg{
    height: 15px;
    width: 15px;
}
.save{
    text-decoration: underline;
}