:root{
    --info-left-width: 60%;
    --divider-bottom-padding: 30px;
    --divider-border-bottom: 1px solid rgba(206, 206, 206, 0.7);
}

.info{
    width: clamp( 300px, 1150px , 75%);
    display: flex;
    flex-direction: column;
}
.host-info{
    width: var(--info-left-width);
}
.host-info-header{
    font-weight: 600;
}
.host-info-row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.host-info-row1 img{
    height: 50px;
    width: 50px;
}

.host-info-row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: var(--divider-border-bottom);
    padding-bottom: var(--divider-bottom-padding);
}

.host-info-row2-content{
    border: 1px solid rgba(206, 206, 206, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}
.row2-para{
    height: auto;
    margin: 0;
}
.air-cover-wrapper{
    width: var(--info-left-width);
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: var(--divider-border-bottom);
    padding-bottom: var(--divider-bottom-padding);
}
.aircover-title{
    height: 2rem;
    width: 9rem;
    
}
.aircover-info{
    font-size: 18px;
}
.aircover-link{
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.aircover-link:hover{
    text-decoration: none;
}