.listing-navbar{
    width: clamp( 300px, 1150px , 75%);
    gap: 2rem;
    margin: 0;
    
}
.listing-brand{
    margin-left: 0;
}
.listing-profile{
    margin-right: 0;
}
.listing-search{
    justify-content: space-between !important;
    
}
.listing-search * {
    margin-left: .25rem;
    margin-right: .25rem;
}
