.listing-navbar{
    width: 75%;
    gap: 2rem;
    margin: 0;
}

.listing-search{
    justify-content: space-between !important;
    
}
.listing-search * {
    margin-left: .25rem;
    margin-right: .25rem;
}
.listing-profile{
    right: 12.5%;
}