.listingGrid{
  margin: 5rem;
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1vh 1vw;
}
.listingGridItem{

  border: 1px solid black;
  padding: 1rem;
}
.skeletonGridItem{
  border: 1px solid black;
}
.infoListItem{
  margin: 0;
  padding: 0;
}